.border_none {
    border: none;
	
	&--imp {
		border: none !important;
	}
}

.bg_none {
    background: none;
	
	&--imp {
		background: none !important;
	}
}

.outline_zero {
	outline: 0;
	
	&--imp {
		outline: 0 !important;
	}
}